<.header>
  Login
</.header>

<.simple_form
  for={@session}
  :let={f}
  as={:session}
  phx-change="validate"
  action={~p"/sessions"}>
  <.input field={f[:username]} label="Username" />
  <.input field={f[:password]} label="Password" type="password" />

  <:actions>
    <.button>Log In</.button>
  </:actions>
</.simple_form>
