<.header>
  New Video
  <:subtitle>Use this form to manage video records in your database.</:subtitle>
</.header>

<.video_form changeset={@changeset} action={~p"/manage/videos"} />

<.back navigate={~p"/manage/videos"}>Back to videos</.back>
