<.header>
  <:actions>
    <.link href={~p"/manage/videos/#{@video}/edit"}>
      <.button>Edit video</.button>
    </.link>
  </:actions>
</.header>

<.list>
  <:item title="Url"><%= @video.url %></:item>
  <:item title="Title"><%= @video.title %></:item>
  <:item title="Description"><%= @video.description %></:item>
</.list>

<.back navigate={~p"/manage/videos"}>Back to videos</.back>
