<.flash_group flash={@flash} />

<.header>
  User
</.header>

<.list>
  <:item title="ID"><%= @user.id %></:item>
  <:item title="Name"><%= @user.name %></:item>
  <:item title="Username"><%= @user.username %></:item>
</.list>

<div class="mt-8">
  <.link href={~p"/users"} class={[
     "rounded-lg bg-zinc-900 hover:bg-zinc-700 py-2 px-3",
     "text-sm font-semibold leading-6 bg-orange-600 text-white active:text-white/80"
  ]}>
    Back
  </.link>
</div>
